{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/application-type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/business-structure-type" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="approval-name">
              What is the name of the approval name?
            </label>
            <span id="changed-name-hint" class="govuk-hint">
              This is the sole trader, partner(s) or legal entity of the business.
            </span>
        
          </h1>
          <input class="govuk-input" id="approval-name" name="approval-name" type="text">
        </div>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="trading-name">
            What is the trading name?
          </label>
          <span id="trading-name-hint" class="govuk-hint">
            If the trading name is different to the approval name.
          </span>
          </h1>
          <input class="govuk-input" id="trading-name" name="trading-name" type="text">
        </div>
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
