{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/application-type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/business-name" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="approval-name">
              What is the current approval number for the establishment?
            </label>
           <!--  <span id="changed-name-hint" class="govuk-hint">
              This will be the current approval number for the establishment.
            </span> -->
        
          </h1>
          <input class="govuk-input" id="approval-name" name="approval-name" type="text">
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="fbo-change-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Date of change
              </h1>
            </legend>
            <span id="fbo-change-date-hint" class="govuk-hint">
              The change cannot happen before approval is sought.
            </span>
            <span class="govuk-hint">For example, 24 01 2021.</span>
            <div class="govuk-date-input" id="fbo-change-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="fbo-change-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fbo-change-date-day" name="fbo-change-date-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="fbo-change-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fbo-change-date-month" name="fbo-change-date-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="fbo-change-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="fbo-change-date-year" name="fbo-change-date-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
          </div>
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
