{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/handling-animal-origin">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/location-map" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="layout-plan-upload">
              Layout plan of the establishment
            </label>
          </h1>
          <div class="govuk-form-group">
            <label class="govuk-label" for="layout-plan-upload">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="layout-plan-upload" name="layout-plan-upload" type="file">
          </div>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
