<fieldset>
    <legend>
        <h1>PAGE HEADING - Activities</h1>
    </legend>
    <div class="govuk-form-group">
        <fieldset>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Activity heading
            </legend>
            <div class="govuk-checkboxes">
                
                <div class="govuk-form-group">
                    <fieldset>
                        <legend>
                            Sub-activity
                        </legend>
                        <div class="govuk-checkboxes__item">
                            <input type="checkbox" id="">
                            <label for=""></label>
                        </div>    
                    </fieldset>
                </div>

                OR 

                <div class="govuk-checkboxes__item">
                    <input type="checkbox" id="">
                    <label for=""></label>
                </div>
            </div>
            ...repeat
        </fieldset>
    </div>
</fieldset>

<div class="govuuk-checkboxes" data-module="govuk-checkboxes">
    <input data-aria-controls="conditional-XXX-throughput-conditional">
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-XXX-throughput-conditional">
        <div class="govuk-form-group">
            <label class="govuk-label" for="XXX-throughput">
                Estimated throughput
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="XXX-throughput" name="XXX-throughput" type="number">
        </div>
    </div>
</div>

    
Activity headings:
- Slaughterhouse
    - Slaughter of domestic ungulates
    - Slaughter and/or dressing
    - Slaughter of farmed birds and lagomorphs
- Game handling establishment
    ??? only one, so do we need this - Dressing of
- Cutting cutting
    ??? - Cutting of meat from
- Wholesale market
- Minced meat
- Meat preparations establishments
- Mechanically separated meat establishment
- Processing plant
    ??? - Processing/producing of
- Cold store
- Re-packaging establishments
- Re-wrapping establishments

